<!-- Uses a transparent header that draws on top of the layout's background -->
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <main class="mdl-layout__content">
    <div class="text">
    <!-- Wide card with share menu button -->
        <style>
        .demo-card-wide.mdl-card {
        width: 700px;
        height: 450px;
        opacity: 0.8;
        font-weight: bold;
        color: black;
        font-family: 'Press Start 2P', cursive;
        border: 7px solid red;
        }
        .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 1000px;
        background: url('../assets/demos/welcome_card.jpg') center / cover;
        }
        .demo-card-wide > .mdl-card__menu {
        color: #fff;
        }
        </style>

        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
            <form action='/start_fight' method='POST' class ="border">
                <h1 class="invitation_title">INVITATION</h1>
                <span style="color:black;">To. </span><input type="text" name="to">
                <br>
                <div class="hangul" style='margin-top: 20px;'>
                    <span style="color:black;">너에게</span>
                    <select name="city_id" id="city_id">
                        <option value="1">학점대결</option>
                        <option value="2">다이어트대결</option>
                        <option value="3">e-sports대결</option>
                        <option value="4">스포츠대결</option>
                        <option value="5">자유대결</option>
                    </select>
                   <span style="color:black;"> 를 신청한다.<br><br>
                    승리조건은 다음과 같다.</span>
                </div>
                <textarea type="text" name="context" id="textarea" style="margin-bottom: 10px; margin-top: 10px;"> </textarea> <br>
               <span style="color:black;"> From. </span><input type="text" name="from">
                <br>
                <!-- Colored raised button -->
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored button_blue" style= 'margin-top: 15px;'>
                    대결
                </button>
            </form>
        </div>
        </div>
        
    </div>
  </main>
</div>
