<!-- Uses a transparent header that draws on top of the layout's background -->
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title"></span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="text">
    <!-- Wide card with share menu button -->
        <style>
        .demo-card-wide.mdl-card {
        width: 700px;
        height: 400px;
        opacity: 0.8;
        font-weight: bold;
        color: black;
        font-family: 'Comic Sans MS';
        }
        .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 1000px;
        background: url('../assets/demos/welcome_card.jpg') center / cover;
        }
        .demo-card-wide > .mdl-card__menu {
        color: #fff;
        }
        </style>

        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
            <form action='/start_fight' method='POST' class ="border">
                <h1 class="invitation_title">결투장</h1>
                To. <input type="text" name="to">
                <br><br>
                너에게
                <select name="city_id" id="city_id">
                    <option value="1">학점대결</option>
                    <option value="2">다이어트대결</option>
                    <option value="3">e-sports대결</option>
                    <option value="4">스포츠대결</option>
                    <option value="5">자유대결</option>
                </select>
                를 신청한다.<br><br>
                승리조건은 다음과 같다.<br>
                <textarea type="text" name="context" id="textarea"> </textarea> <br>
                From. <input type="text" name="from">
                <br>
                <!-- Colored raised button -->
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored button_blue" style= 'margin-top: 7px;'>
                    대결
                </button>
            </form>
        </div>
        </div>
        
    </div>
  </main>
</div>
