E-Sports

<div style='border: 1px solid black;'>
  <h1> 초대장 </h1>
  To. <%= @feed.to %>
  <br>
  너에게 esports대결을 신청한다.
  승리조건은 다음과 같다.
  <%= @feed.content %>
  <br>
  From. <%= @feed.from %>
</div>

<div class="page-header">
  <h1>Share Dialog</h1>
</div>

<p>Click the button below to trigger a Share Dialog</p>

<a id="shareBtn" class="btn btn-success clearfix">Share</a>

<p style="margin-top: 50px">
  <hr />
  <div class="btn btn-small"  href="https://developers.facebook.com/docs/sharing/reference/share-dialog">Share Dialog Documentation</div>
</p>

<script>
document.getElementById('shareBtn').onclick = function() {
    
    FB.ui({
        method: 'share_open_graph',
        action_type: 'og.shares',
        display: 'popup',
        action_properties: JSON.stringify({
            object: {
            
            'og:url': 'https://161d737c.ngrok.io/stat_board',
            'og:title': '제목내맘대루',
            'og:description': '아싸된당',
            'og:image': 'https://s-i.huffpost.com/gen/5024106/thumbs/o-PUPPIES-570.jpg?1'
            }
        })
        }, function(response) {
        // Action after response
        });

  //FB.ui({
    //method: 'share',
    //display: 'popup',
    //hashtag:'#결투장',
    //quote:"s히히",
    //href: 'https://161d737c.ngrok.io',
    //description: "메롱",
   
    
  //}, function(response){
      
  //});
}
</script>
