<!-- Uses a transparent header that draws on top of the layout's background -->
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <main class="mdl-layout__content">
    <div class="text">
    <!-- Wide card with share menu button -->
        <style>
        .demo-card-wide.mdl-card {
        width: 700px;
        height: 450px;
        opacity: 0.8;
        font-weight: bold;
        color: black;
        font-family: 'Press Start 2P', cursive;
        border: 7px solid red;
        }
        .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 1000px;
        background: url('../assets/demos/welcome_card.jpg') center / cover;
        }
        .demo-card-wide > .mdl-card__menu {
        color: #fff;
        }
        </style>

        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
            <form action='/start_fight' method='POST' class ="border">
                <h1 class="invitation_title">INVITATION</h1>
                <span class="hangul" style="color:black;">To. <%= @feed.to%></span>
                <br>
                <div class="hangul" style='margin-top: 20px;'>
                    <span style="color:black;">너에게</span>
                    
                   <span style="color:black;"> 학점대결을 신청한다.<br><br>
                    승리조건은 다음과 같다.</span>
                </div>
                <div class="hangul" style="margin-bottom: 10px; margin-top: 10px; color:black; border: 1px black solid; width: 300px; height: 100px; margin-left:25%; margin-right: 25%;"> <%=@feed.content%></div> <br>
               <span class="hangul" style="color:black;"> From. <%=@feed.from%> </span>
                <br>
                <!-- Colored raised button --><br><br>
                <a id="shareBtn" class="btn btn-success clearfix">Share</a>

            </form>
        </div>
        </div>
        
    </div>
  </main>
</div>



<script>
document.getElementById('shareBtn').onclick = function() {
    
    FB.ui({
        method: 'share_open_graph',
        action_type: 'og.shares',
        display: 'popup',
        action_properties: JSON.stringify({
            object: {
            
            'og:url': 'https://161d737c.ngrok.io/stat_board',
            'og:title': '제목내맘대루',
            'og:description': '아싸된당',
            'og:image': 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTHhmFeKLIgFw_lM7z9DyE0lF3a1CD4C1B664iUDULINp94pGZsw'
            }
        })
        }, function(response) {
        // Action after response
        });

 
}
</script>


